doctype html
head
  meta(charset="utf-8")
  title Solar System model
  link(rel="stylesheet", href="css/style.css", media="screen", charset="utf-8")
body
  div.nav
    h2 Zoom
    - var zoomArr = [0.12, 0.25, 0.5, 1, 4, 10, 100]
    - var def = 4
    - function to2period(a){
    -  var m = String(a*100)
    -  if(a>=1){
    -    return m.slice(0, m.length-2)+"."+m.slice(m.length-2)
    -  } else {
    -    return "0"+m.slice(0, m.length-2)+"."+m.slice(m.length-2)
    -  }
    - }
    - each val in zoomArr
      - var x = String(val).replace(".","")
      if val != def
        input(type="radio", name="zoom", id="x#{x}")
      else
        input(type="radio", name="zoom", id="x#{x}" checked)
      label(for="x#{x}")= "x"+to2period(val)
    br.clear
    h2 Time (1 min = 1 earth year)    
    
    div.content
      div#sun
      each val in ['neptune', 'uranus', 'saturn', 'jupiter', 'mars', 'earth', 'venus', 'mercury']
        div.orbit(id="#{val}")
          div.orbit-radius
            div#text
              p
            input(type="radio", name="planet" id="#{val}")
            label.planet(for="#{val}")
