- var zoomArr = [0.02, 0.03, 0.12, 0.25, 0.5, 1, 2, 4]
- var timeArr = [1, 5, 10, 20, 100, 1000, 2000]

doctype html
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Solar System model
  link(rel="stylesheet", href="css/style.css", media="screen", charset="utf-8")
  link(rel="stylesheet", href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
body
  input(type="radio", name="land", id="landing")
  label.landing(for="landing")
    h1 Welcome in my little CSS3 based solar system model that is more than less to scale and is not using any JavaScript or so.
  
    
  div.nav
    - var def = 1
    - function to2period(a){
    -  var m = String(a*100)
    -  if(a>=1){
    -    return m.slice(0, m.length-2)+"."+m.slice(m.length-2)
    -  } else {
    -    return "0"+m.slice(0, m.length-2)+"."+m.slice(m.length-2)
    -  }
    - }
    - for (n=0; n<zoomArr.length; n++)
      - var val = zoomArr[n]
      - var x = String(val).replace(".","")
      if val != def
        input(type="radio", name="zoom", id="x#{x}")
      else
        input(type="radio", name="zoom", id="x#{x}" checked)
        
      if n==0
        label(class="first", for="x#{x}")= "x"+to2period(val)
      else if n==zoomArr.length-1
        label(class="last", for="x#{x}")= "x"+to2period(val)
      else
        label(for="x#{x}")= "x"+to2period(val)
    h2.zoom Zoom
    
    - var def = 1
    - function to2period(a){
    -  var m = String(a*100)
    -  if(a>=1){
    -    return m.slice(0, m.length-2)+"."+m.slice(m.length-2)
    -  } else {
    -    return "0"+m.slice(0, m.length-2)+"."+m.slice(m.length-2)
    -  }
    - }
    - for (n=0; n<timeArr.length; n++)
      - var val = timeArr[n]
      - var x = String(val).replace(".","")
      if val != def
        input(type="radio", name="time", id="t#{x}")
      else
        input(type="radio", name="time", id="t#{x}" checked)
      
      if n==0
        label(class="first", for="t#{x}")= "x"+to2period(val)
      else if n==timeArr.length-1
        label(class="last", for="t#{x}")= "x"+to2period(val)
      else
        label(for="t#{x}")= "x"+to2period(val)
    h2.time Time 
      
    h2.text Other options
    label.text(for="text") Show descriptions
    input(type="checkbox", id="text", checked)
      
      
    div.content
      div#stars
      input(type="radio", name="zoom-planet", id="input_sun")
      label(id="sun", for="input_sun")
        div#text
          p
      each val in ['neptune', 'uranus', 'saturn', 'jupiter', 'mars', 'earth', 'venus', 'mercury']
        input(type="radio", name="zoom-planet", id="input_#{val}")
        label.orbit(id="#{val}", for="input_#{val}")
          div.orbit-radius
            div#text
              p
            input(type="radio", name="planet" id="#{val}")
            label.planet(for="#{val}")
